<h1 mat-dialog-title> 
  <mat-icon>badge</mat-icon>
  <span>Cadastrar novo funcionário</span>
</h1>
<form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome completo..." formControlName="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail..." formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contato</mat-label>
      <input matInput placeholder="Contato..." formControlName="phone">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Departamento</mat-label>
      <input matInput placeholder="Departamento..." formControlName="department">
      <mat-icon matSuffix>groups_2</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Cargo</mat-label>
      <input matInput placeholder="Cargo..." formControlName="role">
      <mat-icon matSuffix>manage_accounts</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>data de Admissão</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateJoined">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <div class="action" mat-dialog-actions>
    <button mat-flat-button color="primary" [disabled]="createEmployeeForm.invalid">Cadastrar</button>
  </div>
</form>