<mat-button-toggle-group [formControl]="searchType">
  <mat-button-toggle value="name">Nome</mat-button-toggle>
  <mat-button-toggle value="email">Email</mat-button-toggle>
  <mat-button-toggle value="phone">Contato</mat-button-toggle>
</mat-button-toggle-group>

<ng-container *ngIf="currentType$ | async as type; else loading">
  <ng-container *ngIf="options$ | async as options">
    <mat-form-field appearance="outline">
      <mat-label>Buscar por {{type.name}}...</mat-label>
      <input type="text" aria-label="Search" matInput [matAutocomplete]="auto" [formControl]="search">

      <mat-icon matPrefix>{{ type.ico }}</mat-icon>
      <mat-icon matSuffix *ngIf="isEmpty() else searchIco">search</mat-icon>
      
      <ng-template #searchIco>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="search.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option [value]="option" *ngFor="let option of options">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</ng-container>

<ng-template #loading>
  <p>Carregando...</p>
</ng-template>