:host{
  margin: auto;
  display: block;
  min-width: 375px;
  overflow-x: auto;
  $breakpoints: (
    640px,
    768px,
    1024px,
    1280px,
    1536px
  );
  
  @for $index from 1 through length($breakpoints) {
     $breakpoint: nth($breakpoints, $index);

    @if $index < length($breakpoints) {
      $nextBreakpoint: nth($breakpoints, $index + 1);
     
      @media screen and (min-width: $breakpoint) and (max-width: ($nextBreakpoint - 1)) {
        width: $breakpoint;
      }
    } @else {
      @media screen and (min-width: $breakpoint) {
        width: $breakpoint;
      }
    }
  }
}